<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>事件监听和传播</title>
</head>
<body ng-app="app">
    <div ng-controller="firstController">
        <h3>$apply传播 model的变化</h3>
        <p>{{name}}</p>
        <p ng-click="show()">{{age}}</p>
    </div>
    <div ng-controller="secondController">
        <h3>$watch监听 model的变化</h3>
        价格:<input type="text" ng-model="things.price"><br>
        个数:<input type="text" ng-model="things.num"><br>
        费用:<span>{{sum() | currency}}</span><br>
        运费:<span>{{things.money | currency}}</span><br>
        总额:<span>{{sum() + things.money | currency}}</span>
    </div>
    <script src="../angular.min.js"></script>
    <script>
        var app =  angular.module('app',[]);
        app.controller('firstController',function($scope,$timeout){
            $scope.name = "daisy";
            $scope.age = "22";
            $timeout(function(){
                $scope.$apply(function(){
                    $scope.name="bilibili";
                });
            },4000);
            $scope.show = function(){
                $scope.age="you guess";
            };
        });

        app.controller('secondController',function($scope){
            $scope.sum = function(){
                return $scope.things.price * $scope.things.num;
            }
            $scope.things = {
                price:'15',
                num:'3',
                money:'10'
            }
            $scope.$watch($scope.sum,function(nV,oV){
                $scope.things.money = nV;
                if(nV >= 100){
                    $scope.things.money = 0;
                }else{
                    $scope.things.money = 10;
                }

                // $scope.things.money = nV >= 100 ? 0 : 10;
            });
        });
    </script>
</body>
</html>